@model IEnumerable<RMS.Application.Queries.RequestBC.GetRequestResult>

@{
    ViewBag.Title = "Home Page";
}
<h3>Requests</h3>

<p>
    <a href="@Url.Action("Create", "Home")" class="openDialog btn btn-default btn-primary">
        <i class="fa fa-plus"></i> Create New
    </a>
</p>

<div class="span12">
    <table class="table table-striped" id="requestsdatatable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Raised Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Attachments
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Raised Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Attachments
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </tfoot>
    </table>
</div>